<app-navbar></app-navbar>

<!-- para executar o metodo destruir() 
@if(exibeHome){
  <app-home></app-home>
}

<button (click)="destruir()" class="btn btn-primary">Destruir</button>
<app-footer></app-footer>

/////////////////////////////////////////////////////////////////////
-metodo esconder 
<app-home [hidden]="!exibeHome"></app-home>

<button (click)="esconder()" class="btn btn-primary">Esconder</button>
<app-footer></app-footer>

-->

<app-conteudo-ui>
  <router-outlet></router-outlet>
</app-conteudo-ui>

<app-footer></app-footer>
